@rendermode InteractiveServer
@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using FitnessTracker
@using System.Threading.Tasks
@using Microsoft.VisualBasic
@using global::FitnessTracker.Components.Pages.FitnessTracker.FitnessController
@inject PersonController service





<h3>FitnessUi</h3>
<div>
    <p>
        <span> Ich weis nicht, hier soll eine Fittnes App hin, mal sehen was ich daraus baue...</span>
    </p>
</div>

<div>
    <input type="text" placeholder="Name" class="input" @bind="personName" />
    <input type="number" placeholder="Type here" class="input" @bind="weight" />
    <button type="button" class="button" @onclick="CreatePersonObj"> Enter New Person </button>
</div>

<div class="overflow-x-auto">
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Wieght</th>
            </tr>
        </thead>
        <tbody>
            <!-- row 1 -->
            @foreach (var p in Person)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.Weight</td>
                </tr>
            }
        </tbody>
    </table>
</div>







@code {
    string personName = "";
    double weight = 0;
    List<TrackedPerson> Person = new List<TrackedPerson>();
    TrackedPerson pOptions = new();
    protected override async Task OnInitializedAsync()
    {
        Person = await service.GetPersonAsync();
    }
    private async Task CreatePersonObj()
    {
        TrackedPerson trackedPerson = new TrackedPerson(personName, weight);
        personName = string.Empty;
        await AddNewProduct(trackedPerson);
        weight = 0;
        Person = await RefreshSitePerson();
    }

    public async Task RefreshProducts()
    {
        Person = await service.GetPersonAsync();
    }
    public async Task<List<TrackedPerson>> RefreshSitePerson()
    {
        await RefreshProducts();
        return Person;
    }




    public async Task AddNewProduct(TrackedPerson newPerson)
    {
        await service.AddPersonAsync(newPerson);
        await RefreshProducts();
    }


    private async Task SetPersonForUpdate(TrackedPerson person)
    {
        TrackedPerson UpdatePerson = new TrackedPerson();
        UpdatePerson = person;
        await UpdatePersonData(UpdatePerson);
    }
    private async Task UpdatePersonData(TrackedPerson UpdatePerson)
    {
        await service.UpdatePersonAsync(UpdatePerson);
        await RefreshProducts();
    }
    private async Task DeletePerson(TrackedPerson person)
    {
        await service.DeletePersonAsync(person);
        await RefreshProducts();
    }





}